<h1>Today's Matches</h1>

<table class="table">
  <%# head columns %>
  <thead>
    <tr>
      <th scope="col">Date Start</th>
      <th scope="col">Local Team</th>
      <th scope="col">Result</th>
      <th scope="col">Visitor Team</th>
      <th scope="col">Finish Start</th>
    </tr>
  </thead>

  
  <tbody>
  </tbody>
  
</table>